<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izjava o uporabi piškotkov</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="font-sans bg-gray-100">

<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Izjava o uporabi piškotkov</h1>

    <div class="mb-4">
        <p class="text-gray-800">
            Uporabljamo piškotke za izboljšanje delovanja naše spletne strani. S piškotki zbiramo statistične podatke o
            uporabi strani, ki nam pomagajo razumeti, kako jo lahko še izboljšamo.
        </p>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Vrste piškotkov:</h3>
        <ul class="list-disc list-inside text-gray-800">
            <li>Nujno potrebni piškotki: Omogočajo osnovne funkcionalnosti spletne strani.</li>
            <li>Analitični piškotki: Zbirajo anonimne podatke o uporabi strani za analizo in izboljšave.</li>
        </ul>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Uporaba piškotkov:</h3>
        <p class="text-gray-800">Piškotki se uporabljajo izključno za namene izboljšanja uporabniške izkušnje.</p>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Onemogočanje piškotkov:</h3>
        <p class="text-gray-800">Lahko spremenite nastavitve brskalnika in onemogočite piškotke, vendar lahko to vpliva
            na delovanje nekaterih funkcionalnosti.</p>
    </div>

    <div class="mb-4">
        <p class="text-gray-800">Z nadaljnjo uporabo naše spletne strani se strinjate z našo izjavo o uporabi
            piškotkov.</p>
    </div>
</div>

</body>
</html>
