<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izjava o zasebnosti</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="font-sans bg-gray-100">

<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Izjava o zasebnosti</h1>

    <div class="mb-4">
        <h2 class="text-xl font-semibold mb-2">Zbiranje informacij:</h2>
        <p class="text-gray-800">
            Spoštujemo vašo zasebnost in se zavezujemo k varovanju vaših osebnih podatkov. S to izjavo o zasebnosti
            želimo pojasniti, kako zbiramo, uporabljamo, razkrivamo in varujemo vaše osebne podatke.
        </p>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Zbiranje informacij:</h3>
        <ul class="list-disc list-inside text-gray-800">
            <li>Zbiramo samo tiste osebne podatke, ki so potrebni za izboljšanje izkušnje uporabnika in zagotavljanje
                storitev.
            </li>
            <li>Podatki se lahko zbirajo preko obrazcev, ki jih izpolnite, ali drugega načina komunikacije.</li>
        </ul>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Uporaba informacij:</h3>
        <ul class="list-disc list-inside text-gray-800">
            <li>Osebni podatki se uporabljajo izključno za namene, za katere so bili zbrani.</li>
            <li>Vaši podatki se ne bodo delili s tretjimi osebami brez vaše izrecne privolitve.</li>
        </ul>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Varovanje informacij:</h3>
        <ul class="list-disc list-inside text-gray-800">
            <li>Uvedli smo ustrezne varnostne ukrepe za zaščito pred nepooblaščenim dostopom, uporabo, spreminjanjem ali
                razkritjem vaših osebnih podatkov.
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Dostop do informacij:</h3>
        <p class="text-gray-800">Imate pravico zahtevati vpogled, popravek ali izbris vaših osebnih podatkov.</p>
    </div>

</div>

</body>
</html>
